body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.title-container {
  position: fixed;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.title {
  font-family: 'Bebas Neue', sans-serif;
  background-color: transparent;
  color: white;
  font-size: 4em;
  text-align: center;
  margin: 0;
  padding: 32px;
}

#post-details {
  position: fixed;
  width: 100%;
  top: 100%;
  bottom: 0%;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.2);
  transition: top ease-in 0.4s;
}

#post-details.expand {
  top: 75%;
  bottom: 0%;
}

#post-details p {
  color: white;
  padding: 32px;
}

canvas {
  position: fixed;
  background: linear-gradient(-45deg, rgb(10, 221, 221), rgb(108, 172, 255));
}